nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
}
.nav---sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
.nav-desktop {
  display: none;
}
.nav-mobile--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menuBackground {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);

  width: 95vw;
  overflow-x: hidden;
  height: 100vh;
  z-index: 3;
}
.logo__text {
  font-family: "Heebo", sans-serif;
  font-weight: map-get($font-weights, extra-bold);
  font-size: 2.4rem;
}

.navbar-ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-ul__mobile {
  z-index: 4;
  width: 15rem;
  padding: 3rem 0;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}

.nav-item {
  margin-left: 3.5rem;
  font-size: 2rem;
}
.navbar-ul__mobile .nav-item .navbar__link:hover {
  color: $blue;

  font-weight: map-get($font-weights, bold);
}
.navbar__link {
  text-decoration: none;
  color: $gray-1;
}
.exit {
  z-index: 5;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}
.menu {
  cursor: pointer;
}

@media (min-width: 770px) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: flex;
    width: 100%;
  }

  .nav-desktop--container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 576px) {
  nav {
    height: 9rem;
  }
  .logo__text {
    font-size: 3.6rem;
  }
  .navbar-ul__mobile .nav-item {
    margin: 0.6rem 0;
  }
}
