.ourServices {
  padding-top: 15rem;
}
.ourServices__heading {
  font-size: 2.4rem;
  margin: 0 2.5rem;
  font-weight: map-get($font-weights, medium);
}
.card__container {
  display: flex;
  margin-top: 6rem;
  flex-wrap: wrap;
}
.card {
  width: 34.1rem;
  margin-bottom: 2rem;
  border-radius: 15px;

  &:hover {
    box-shadow: 10px 0 30px #b3b1b1;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.icon {
  width: 67px;
  height: 67px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 3rem 2.5rem;
}
.icon__uxui {
  background-color: $blue;
}
.icon__frontend {
  background-color: $green;
}
.icon__backend {
  background-color: $red;
}
.material-icons.md-36 {
  font-size: 36px;
  cursor: default;
}
.card__headerText {
  font-size: 2.4rem;
  margin: 1.8rem 2.5rem;
  font-weight: map-get($font-weights, bold);
}
.card__bodyText {
  grid-row: 5;
  font-size: 1.6rem;
  font-weight: map-get($font-weights, regular);
  margin: 2rem 2.5rem;
}
.getStarted__btn {
  grid-row: 7;
  font-size: 1.6rem;
  font-weight: map-get($font-weights, medium);
  padding: 0.8rem;
  border: none;
  border-radius: 1rem;
  background-color: #e0e0e0;
  color: $gray-3;
  margin: 1rem 2.5rem 4rem 2.5rem;

  &:hover {
    transform: translate(20px, 30px, 15px);
    box-shadow: 8px 5px 10px #b3bfc5;
  }
  &:active {
    box-shadow: 0 0 0 #9dbfd3;
    transform: translate(-14px, -30px, -20px);
  }
}
.getStarted__btn :focus {
  outline: none;
}
.getStarted__btn:hover {
  background-color: $blue;
  color: #ffffff;
}

//ladscape
@media (min-width: 576px) {
  .ourServices {
    padding-top: 18rem;
  }

  .ourServices__heading {
    font-size: 3.2rem;
    margin: 0;
  }
  .card__container {
    justify-content: space-between;
  }
}
//tablet
@media (min-width: 768px) {
  .ourServices__heading {
    font-size: 3.6rem;
  }
  .card__container {
    justify-content: space-between;
  }
}
